{% extends "base.html" %}
{% block title %}Calculator{% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center">Byte Calculator</h3>
  <label for="info">add a table then create some fields including names and datatype </label>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <input
        type="text"
        class="form-control"
        id="Table"
        name="Table"
        placeholder="Table Name"
        />
      </div>
  </div>
  <div class="form group">

  </div>

  </div>
  <button type="button" class="btn btn-primary" onclick="AddFormGroup()">Add Table</button>
</form>
<script>
function AddFormGroup() {
  var btn = document.createElement("BUTTON");
  document.body.appendChild(btn);
}
</script>
{% endblock %}